@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(239, 239, 239);
  background: -moz-linear-gradient(202deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 52%, rgba(68, 68, 68, 1) 88%);
  background: -webkit-linear-gradient(202deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 52%, rgba(68, 68, 68, 1) 88%);
  background: linear-gradient(202deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 52%, rgba(68, 68, 68, 1) 88%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef", endColorstr="#444444", GradientType=1);
}


/* border animation things */
.animated-border-div {
  /* Border properties */
  --g: 4px;
  --b: 4px;
  --c: #2d90eb;

  padding: 10px;

  /* Gradient properties */
  --_c: #ffffff00 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;

  /* Background properties using gradients with rotation effect */
  background:
    var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);

  /* Background size for animated effect */
  background-size: 200% var(--b), var(--b) 200%;

  /* Transition properties for smooth animation */
  transition: 5s;

}

.animated-border-div:hover {
  /* Adjusted position for hover state */
  --_p: 70%;
  box-shadow: rgba(245, 0, 0);
}

.projectSectionDiv {
  background-color: rgb(72, 72, 73);
  margin-top: 48px;
  border-radius: 0px 7000px;
}

.projectSectionDiv section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 0px;
  margin-top: 12px;
}

/* Project Section Scroll Animation things */
/* Initial styling for hidden elements */
.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 3.5s;
}

/* Styling for visible elements */
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Custom Scroll Bar Things.  */

/* Styles for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #2d90eb;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2d90eb #000000;
}