@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(239, 239, 239);
  background: -moz-linear-gradient(202deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 52%, rgba(68, 68, 68, 1) 88%);
  background: -webkit-linear-gradient(202deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 52%, rgba(68, 68, 68, 1) 88%);
  background: linear-gradient(202deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 52%, rgba(68, 68, 68, 1) 88%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef", endColorstr="#444444", GradientType=1);
}